VITE_PUBLIC_ENVIRONMENT=development
VITE_PUBLIC_API_URL_DEVELOPMENT=http://localhost:5001
VITE_PUBLIC_API_URL_PRODUCTION=

RPC_URL_PRODUCTION=
RPC_URL_STAGING=
POLYGON_AMOY_SIMPLE_SAMI_ADDRESS=
POLYGON_MAINNET_SIMPLE_SAMI_ADDRESS=
POLYGON_AMOY_USDC_ADDRESS=
POLYGON_MAINNET_USDC_ADDRESS=


SAMI_POSTGRES_INITDB_USERNAME=
SAMI_POSTGRES_INITDB_PASSWORD=
SAMI_POSTGRES_DB=
DATABASE_URL_STAGING=
DATABASE_URL_PRODUCTION=
TELEGRAM_BOT_TOKEN=



PRIVATE_KEY_PRODUCTION=
PRIVATE_KEY_STAGING=


TELEGRAM_BOT_TOKEN=
OPENAI_API_KEY=
USE_OPENAI_EMBEDDING=
DAEMON_PROCESS=