@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
  font-family: "Exo 2", serif;
  font-weight: 600;
}

.sami-title {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.glow-cyan {
  box-shadow: 0 0 15px 5px rgba(28, 162, 151, 0.6);
}

.glow-purple {
  box-shadow: 0 0 20px 10px rgba(44, 33, 113, 0.6); /* Updated to use #2c2171 */
}
